__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.spec

.env
.venv
env/
venv/
ENV/
VENV/


# --- Dependencies ---
# Pip/virtualenv state
pip-log.txt
pip-delete-this-directory.txt
# Conda Packaged Environments (if applicable)
*.tar.bz2
*.conda

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.iml
*.sublime-project
*.sublime-workspace
.project
.pydevproject
*.sw[op]
*~
*.bak



.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
ehthumbs.db
Desktop.ini


.mypy_cache/
.pyre/
.pytype/

.ipynb_checkpoints


*.log
logs/
*.pid
*.pid.lock
celerybeat-schedule




.env*
! .env.example # Often keep an example template file
secrets.*
credentials*
*.pem
*.key
local_settings.py
settings/local.py
config.local.py

_build/
class/__pycache__/game.cpython-312.pyc
class/__pycache__/game.cpython-312.pyc
class/__pycache__/minmaxAI.cpython-312.pyc
/class/__pycache__
